.project-container{
    padding-top: 15vh;
    padding-bottom: 25vh;
    background-color: #121212;
    z-index: 9999;
}

.project-section{
    margin: 0 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 3vw;
}

.project-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s;
}

.project-box:hover .img-project{
    transform: scale(1.1);
    border-radius: 10px;
}

.project-box:hover .description{
    display: none;
}

.project-box:hover .title{
    display: none;
}

.project-box:hover .description{
    animation: fadeInFromBottom 1.5s;
    display: block;
}

.project-box-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.project-box-info{
    height: 15vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    background-color: rgba(136,136,136,.07);
    background-size: cover;
    transition: all 0.3s;
}

.img-project{
    height: 55vh;
    width: 30vw;
    transition: all 1s;
}

.title{
    padding: 1rem;
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
    color: red;
    animation: fadeInFromTop 1.5s;
}

.description{
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    display: none;
    animation: fadeInFromBottom 1.5s;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInFromTop{
    from{
        opacity: 0;
        transform: translate(0, -30px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeInFromBottom{
    from{
        opacity: 0;
        transform: translate(0, 30px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeInFromRight{
    from{
        opacity: 0;
        transform: translate(600px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeInFromLeft{
    from{
        opacity: 0;
        transform: translate(-600px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

/***********************************************************************************/
/* ------------------ MEDIA QUERIES ---------------------------------------------- */
/***********************************************************************************/

/******************************/
/* ----- Smaller Than 1270px ---- */
/******************************/

@media(max-width:79.35em){
    .title{
        font-size: 2.8rem;
    }
    
    .description{
        font-size: 1.6rem;
    }
    
    .description-alt{
        font-size: 1.6rem;
    }
}

/******************************/
/* ----- Smaller Than 1100px ---- */
/******************************/

@media(max-width:68.75em){
    .project-section{
        margin: 0 10vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 5vh;
    }

    .img-project{
        height: 50vh;
        width: 40vw;
    }

    .project-box-info{
        height: 15vh;
        width: 40vw;
    }

}

/******************************/
/* ----- Smaller Than 668px ---- */
/******************************/

@media(max-width:43em){
    .project-section{
        margin: 0 15vw;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        gap: 10vh;
    }

    .img-project{
        height: 40vh;
        width: 70vw;
    }

    .project-box-info{
        height: 10vh;
        width: 70vw;
    }

}

/******************************/
/* ----- Smaller Than 430px ---- */
/******************************/

@media(max-width:26.875em){

    .project-container{
        padding-top: 10vh;
        padding-bottom: 15vh;
    }

    .project-section{
        margin: 0 12vw;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        gap: 5vh;
    }

    .img-project{
        height: 35vh;
        width: 75vw;
    }

    .project-box-info{
        height: 10vh;
        width: 75vw;
    }

    .title{
        font-size: 2.3rem;
    }
    
    .description{
        font-size: 1.3rem;
    }
    
    .description-alt{
        font-size: 1.3rem;
    }

}

/******************************/
/* ----- Smaller Than 280px ---- */
/******************************/

@media(max-width:17.5em){
    .title{
        font-size: 1.8rem;
    }
    
    .description{
        font-size: 1rem;
    }
    
    .description-alt{
        font-size: 1rem;
    }
}