.project-container{
    height: 90vh;
    background-color: #121212;
    z-index: 9999;
}

.grid--center-v{
    margin-bottom: 10vh;
}

.project-section{
    padding: 9.6rem 0;
}

.text-project-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    animation: fadeIn 4s;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.heading-tertiary-project{
    font-size: 4.8rem;
    color: #e93131;
    text-align: center;
}

.description-project{
    font-size: 2rem;
    line-height: 2;
    color: #eee;
    text-align: center;
}

.img-project-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-project{
    height: 65vh;
    width: 55vw;
    border-radius: 10px;
    border: 2mm ridge #e93131;
}

.img-project-right{
    animation: fadeInFromRight 2s;
}

.img-project-left{
    animation: fadeInFromLeft 2s;
}

@keyframes fadeInFromRight{
    from{
        opacity: 0;
        transform: translate(600px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeInFromLeft{
    from{
        opacity: 0;
        transform: translate(-600px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

.btn--project{
    color: #fff;
    border-radius: 30px;
    display: inline-block;
    padding: 2rem 2.4rem;
    transition: all 0.5s;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    z-index: 9999;
    animation: fadeFromBottom 1.2s;
}

.note{
    font-size: 2rem;
    color: green;
    width: 30vw;
}

/***********************************************************************************/
/* ------------------ MEDIA QUERIES ---------------------------------------------- */
/***********************************************************************************/

/******************************/
/* ----- Smaller Than 1200px ---- */
/******************************/

.project-container{
    height: fit-content;
}

@media(max-width:75em){
    .heading-tertiary-project{
        font-size: 4rem;
    }

    .description-project{
        font-size: 1.6rem;
        line-height: 1.6;
    }

    .img-project{
        height: 45vh;
        width: 55vw;
    }

    .btn--project{
        padding: 1.8rem 2.2rem;
        font-size: 1.3rem;
    }

    .note{
        font-size: 1.8rem;
        width: 25vw;
    }
}

/******************************/
/* ----- Smaller Than 936px ---- */
/******************************/

@media(max-width:58.5em){
    .grid--center-v{
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    .switch-box .project-img-box{
        order: 2;
    }

    .switch-box .text-project-box{
        order: 1;
    }

    .heading-tertiary-project{
        font-size: 3.6rem;
        margin-bottom: 1.2rem;
    }

    .description-project{
        font-size: 2.4rem;
        line-height: 1;
    }

    .img-project{
        height: 30vh;
        width: 70vw;
    }

    .btn--project{
        padding: 1.6rem 1.8rem;
        font-size: 1.4rem;
    }

    .note{
        font-size: 1rem;
        width: 50vw;
    }
}

/******************************/
/* ----- Smaller Than 700px ---- */
/******************************/

@media(max-width:44em){
    .heading-tertiary-project{
        font-size: 3.6rem;
        margin-bottom: 1.2rem;
    }

    .description-project{
        font-size: 2.4rem;
        line-height: 1;
    }

    .img-project{
        height: 30vh;
        width: 70vw;
    }

    .btn--project{
        padding: 1.6rem 1.8rem;
        font-size: 1.4rem;
    }

    .note{
        font-size: 1rem;
        width: 50vw;
    }
}

/******************************/
/* ----- Smaller Than 655px ---- */
/******************************/

@media(max-width:40.93em){
    .heading-tertiary-project{
        font-size: 2.8rem;
        margin-bottom: 1.2rem;
    }

    .description-project{
        font-size: 1.6rem;
        line-height: 1;
    }

    .img-project{
        height: 30vh;
        width: 70vw;
    }

    .btn--project{
        padding: 1.4rem 1.6rem;
        font-size: 1.4rem;
    }

    .note{
        font-size: 1rem;
        width: 50vw;
    }
}

/******************************/
/* ----- Smaller Than 500px ---- */
/******************************/

@media(max-width:31.25em){
    .heading-tertiary-project{
        font-size: 2.8rem;
        margin-bottom: 1.2rem;
    }

    .description-project{
        font-size: 1.6rem;
        line-height: 1;
    }

    .img-project{
        height: 20vh;
        width: 70vw;
    }

    .btn--project{
        padding: 1.4rem 1.6rem;
        font-size: 1.4rem;
    }

    .note{
        font-size: 1rem;
        width: 50vw;
    }
}

