<body>
    <div class="project-container">
     <section class="project-section">
        <!-- Project 1 -->
        <div class="container grid grid--2cols grid--center-v">
            <div class="text-project-box">
                <h3 class="heading-tertiary heading-tertiary-project">
                    Metabolic Health
                </h3>
                <p class="description-project">
                    Full Stack Application built with NodeJS, Express, Angular
                </p>
                <a  routerLink="/home" class="btn btn--project">More</a>
                <p class="note">Note: the project serves as a bachelor's thesis and I can't make it public yet</p>
            </div>
            <div class="project-img-box">
                <img src="assets/img/Licenta.png" class="img-project img-project-right" alt="Ceva"/>
            </div>
        </div>

        <!-- Project 2 -->
        <div class="container grid grid--2cols grid--center-v switch-box">
            <div class="project-img-box">
                <img src="assets/img/comingsoon2.jpg" class="img-project img-project-left" alt="Ceva"/>
            </div>
            <div class="text-project-box">
                <h3 class="heading-tertiary heading-tertiary-project">
                    Project 2
                </h3>
                <p class="description-project">
                    Coming Soon
                </p>
                <a  routerLink="/home" class="btn btn--project">More</a>
            </div>
        </div>

        <!-- Project 3 -->
        <div class="container grid grid--2cols grid--center-v">
            <div class="text-project-box">
                <h3 class="heading-tertiary heading-tertiary-project">
                    Project 3
                </h3>
                <p class="description-project">
                    Coming Soon
                </p>
                <a  routerLink="/home" class="btn btn--project">More</a>
            </div>
            <div class="project-img-box">
                <img src="assets/img/comingsoon2.jpg" class="img-project img-project-right" alt="Ceva"/>
            </div>
        </div>
     </section>
    </div>
</body>