<body>
    <div class="aboutme container">
        <div class="description-section fadein">
            <div class="myPhoto">
                <img src="assets/img/user.png" class="img-user">
            </div>
            <div class="description-text">
                I am a mathematics student in the last year, very curious and enthusiastic to learn new things.
                At the moment I want to discover as much as possible about web programming.
            </div>
        </div>
        <div class="skills-section">
            <div class="first-colon">
              <div class="card card-info">
                <img src="assets/img/html5.png" class="img-skill" alt="HTML logo">
                <p>HTML</p>
              </div>
            </div>
            <div class="second-colon">
              <div class="card card-info">
                <img src="assets/img/css.png" class="img-skill" alt="CSS logo">
                <p>CSS</p>
              </div>
              <div class="card card-info">
                <img src="assets/img/express.png" class="img-skill" alt="Angular logo">
                <p>Express</p>
              </div>
            </div>
            <div class="third-colon">
              <div class="card card-info">
                <img src="assets/img/git.png" class="img-skill" alt="GIT logo">
                <p>GIT</p>
              </div>
              <div class="card card-info">
                <img src="assets/img/angular.png" class="img-skill" alt="Express logo">
                <p>Angular</p>
              </div>
              <div class="card card-info">
                  <img src="assets/img/js.png" class="img-skill" alt="JS logo">
                  <p>JavaScript</p>
              </div>
            </div>
            <div class="fourth-colon">
              <div class="card card-info">
                  <img src="assets/img/ts.png" class="img-skill" alt="TS logo">
                  <p>TypeScript</p>
              </div>
              <div class="card card-info">
                  <img src="assets/img/nodejs.png" class="img-skill" alt="NodeJS logo">
                  <p>NodeJS</p>
              </div>   
            </div>
            <div class="fifth-colon">
              <div class="card card-info">
                  <img src="assets/img/mysql.png" class="img-skill" alt="MySQL logo">
                  <p>MySQL</p>
              </div>        
            </div>
        </div>
    </div>
</body>
